#
*.pyc
.Python

# exclude productive config files
aj/app/etc/*.py

# IANA stuff can be re-generated
util/enterprise-numbers
util/enterprise-numbers.json
aj/app/etc/enterprise-numbers.json

# virtualenv
aj/.python-version

# Pycharm
.idea

# OS X
.DS_Store