#
*.pyc
.Python

# exclude productive config files
aj/etc/*.py

# IANA stuff can be re-generated
util/enterprise-numbers
util/enterprise-numbers.json
aj/etc/enterprise-numbers.json

# virtualenv
.python-version

# Pycharm
.idea

# OS X
.DS_Store
